@using DF.ACE.Configuration.Ui
@model DF.ACE.Web.Views.Shared.Components.RightSideBar.RightSideBarViewModel

        <div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
            <div class="m-quick-sidebar__content m--hide">
                <span id="m_quick_sidebar_close" class="m-quick-sidebar__close"><i class="la la-close"></i></span>

                <ul id="m_quick_sidebar_tabs" class="nav nav-tabs tab-nav-right nav-tabs m-tabs m-tabs-line m-tabs-line--brand " role="tablist">
                    <li class="nav-item m-tabs__item ">
                        <a class="nav-link m-tabs__link active" href="#settings" data-toggle="tab" role="tab">@L("Settings")</a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="settings">
                        <div class="m-list-settings m-scrollable ">
                            <div class="m-list-settings__group">
                                <div class="m-list-settings__heading">GENERAL SETTINGS</div>
                                <div class="m-list-settings__item">
                                    <span class="m-list-settings__item-label">Report Panel Usage</span>
                                    <span class="m-list-settings__item-control">
                                        <span class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
                                            <label>
                                                <input type="checkbox" checked="checked" name="">
                                                <span></span>
                                            </label>
                                        </span>
                                    </span>
                                </div>

                                <div class="m-list-settings__item">
                                    <span class="m-list-settings__item-label">Email Redirect</span>
                                    <span class="m-list-settings__item-control">
                                        <span class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
                                            <label>
                                                <input type="checkbox" name="">
                                                <span></span>
                                            </label>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="m-list-settings__group">
                                <div class="m-list-settings__heading">SYSTEM SETTINGS</div>

                                <div class="m-list-settings__item">
                                    <span class="m-list-settings__item-label">Notifications</span>
                                    <span class="m-list-settings__item-control">
                                        <span class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
                                            <label>
                                                <input type="checkbox" checked="checked" name="">
                                                <span></span>
                                            </label>
                                        </span>
                                    </span>
                                </div>

                                <div class="m-list-settings__item">
                                    <span class="m-list-settings__item-label">Auto Updates</span>
                                    <span class="m-list-settings__item-control">
                                        <span class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
                                            <label>
                                                <input type="checkbox" name="">
                                                <span></span>
                                            </label>
                                        </span>
                                    </span>
                                </div>
                            </div>


                            <div class="m-list-settings__group">
                                <div class="m-list-settings__heading">ACCOUNT SETTINGS</div>

                                <div class="m-list-settings__item">
                                    <span class="m-list-settings__item-label">Offline</span>
                                    <span class="m-list-settings__item-control">
                                        <span class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
                                            <label>
                                                <input type="checkbox" name="">
                                                <span></span>
                                            </label>
                                        </span>
                                    </span>
                                </div>

                                <div class="m-list-settings__item">
                                    <span class="m-list-settings__item-label">Location Permission</span>
                                    <span class="m-list-settings__item-control">
                                        <span class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
                                            <label>
                                                <input type="checkbox" name="">
                                                <span></span>
                                            </label>
                                        </span>
                                    </span>
                                </div>
                                <p style="color: red;">This settings are just for demonstration!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

