
    <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions">
            <button type="submit" name="Save" class="btn btn-primary">@L("Save")</button>
            <button type="button" name="Cancel" class="btn close-button btn-secondary" data-dismiss="modal">@L("Cancel")</button>
        </div>
    </div>


